.equipment-create-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66.5vh;
    background-color: #ffffff;
    
  }
  
  .equipment-card {
    max-width: 650px;
    width: 100%;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .logo-container {
    text-align: center;
  }
  
  .logo {
    width: 115px;   /*ขนาด logo*/
    margin-bottom: 3px; /*ระยะห่าง logo*/
  }
  
  .form-title {          /*text-head*/
    text-align: center;
    margin-bottom: 10px;
    color: #42C2C2;
  }
  
  .ant-form-item {
    margin-bottom: 7px; /*ขนาดแผ่น*/
  }
  
  .ant-input,
  .ant-picker,
  .ant-input-number {
    border-radius: 4px;
    padding: 3px;   /*ความกว้างช่อง input*/
  }
  
  button {
    padding: 9px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
  }
  
  button.cancel {
    background-color: #ffffff;
    border: 1.5px solid #bdbdbd; /* Add a solid border */
    color: black;
  }
  
  button.reset {
    background-color: #FED635;
    color: black;
  }
  
  button.submit {
    background-color: #42C2C2;
    color: white;
  }
  
  button:hover {
    opacity: 0.6;
  }
  
  
  .formhEdit {
    width: auto;
    max-width: 400px;   /*กว้าง*/
    margin-left: 100px;  /* ขยับไปทางขวามือ */
    background-color: #fedd5a;  /*สีพื้นหลังฟอร์ม*/
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);  /*เงา*/
  }
  
  .label1Edit {
    color: #575757;
    text-align: center;
    text-align: middle;
    font-size: 20px;
    display: block;
    font-weight: bold;
  }